



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F3E5F5, #B3E5FC);
    min-height: 100vh; 
}

h1 {
    text-align: center;
}

form {
    max-width: 700px;
    margin: 20px auto;
    padding: 50px;
    background: linear-gradient(135deg, #F3E5F5, #B3E5FC);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
}

input {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    color: #000000; /* Color negro para el texto */
    background: #F3E5F5;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones para el color de fondo y la transformación */
}


button:hover {
    background-color: #B3E5FC; /* Fondo dorado más claro al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón al pasar el ratón */
}

td.empty {
    background-color: #F3E5F5; 
    color: #B2DFDB; 
    border: 1px solid #B2DFDB; 
    padding: 5px; 
}

td.no-number {
    background-color: #F3E5F5;
    color: #B2DFDB; 
}

#tableroContainer {
    text-align: center;
}

#tableroBuscaminas {
    display: none;
    margin: 20px auto 50px auto; 
    border-collapse: collapse;
    background-color: #B2DFDB; 
    color: #000000; 
}


button {
    width: 220px;
    padding: 12px;
    margin: 12px;
    border: none;
    border-radius: 12px;
    background-color: #6200EE; /* Color morado suave para el fondo */
    color: #FFFFFF; /* Color blanco para el texto */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #BB86FC; /* Fondo morado más claro al pasar el ratón */
    transform: scale(1.03); /* Aumenta ligeramente el tamaño del botón */
    box-shadow: 0px 4px 20px rgba(98, 0, 238, 0.5); /* Sombra sutil para dar profundidad */
}

button:active {
    transform: scale(1); /* Vuelve al tamaño original al hacer clic */
    box-shadow: 0px 4px 10px rgba(98, 0, 238, 0.3); /* Sombra más suave al hacer clic */
}
